[Unit]
Description=Hioki Data Logger
After=network.target graphical.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Hioki_data_logger
ExecStart=/home/pi/Hioki_data_logger/.venv/bin/python3 main.py
Restart=always
RestartSec=3
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=PYTHONUNBUFFERED=1
Environment=QT_QPA_PLATFORM=xcb

[Install]
WantedBy=graphical.target
